.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #000;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 8px;
  max-width: 50vw;
  width: fit-content;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.popup-content {
  display: flex;
  flex-direction: row;
  padding: 0px 30px 30px 30px;
}

img {
  height: 50vh;
  width: auto;
}

.card-details {
  margin-left: 20px;
}

.close-button {
  background: none;
  text-align: right;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  justify-content: left;
  padding-bottom: 5px;
}

/* Removes the outline on all button clicks */
.close-button:focus {
  outline: none;
}

/* A better approach: preserves the outline for keyboard users */
.close-button:focus-visible {
  outline: 2px solid white; /* Customize the style as needed */
}
