.set-section {
  border: 1px solid #ccc;
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.set-header {
  padding: 12px 16px;
  background: black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.set-content {
  padding: 12px;
  background: white;
}
