.set-section {
  border: 1px solid #ccc;
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.set-header {
  padding: 12px 16px;
  background: black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.set-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.set-content img {
  width: 100%;
  height: auto;
  object-fit: contain; /* or cover */
  display: block;
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}
